html {
    box-sizing: border-box;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
    font-size: 14px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background: #fafafa;
}

.swagger-ui .topbar {
    background-color: #175DDC;
}

.swagger-ui .topbar .topbar-wrapper a.link img {
    display: none;
}

.swagger-ui .topbar .topbar-wrapper .download-url-wrapper select {
    border: none;
}

.swagger-ui .model,
.swagger-ui .model-title__text,
.swagger-ui .model-title,
.swagger-ui .opblock-description-wrapper,
.swagger-ui .opblock-external-docs-wrapper,
.swagger-ui .opblock-title_normal,
.swagger-ui table thead tr td,
.swagger-ui table thead tr th {
    font-size: 14px;
}
